<div class="modal-login" id="loginModal">
    <div class="modalW">
        <h2 style="margin-bottom:25px;">Connexion</h2>
        <input type="text" id="email" class="username" placeholder="Nom d'utilisateur">
        <input type="password" id="password" class="password" placeholder="Mot de passe">

        <div class="options">
            <label class="remember-me">
                <input type="checkbox" class="checkbox"> <div>Se rappeler de moi </div>
            </label>
            <a href="#" class="forgot-password">Mot de passe oublié ?</a>
        </div>

        <button id="btn-login" class="login">Se connecter</button>
        <p class="register-text">Vous n'avez pas de compte ? <a href="#" class="register_link">S'inscrire</a></p>
        <div id="error" style="color: red;"></div>
    </div>
</div>
<div class="modal-register" id="registerModal">
    <div class="modalW">
        <h2>Inscription</h2>
        <input type="text" class="username" placeholder="Nom d'utilisateur" id="register-username">
        <input type="email" class="mail" placeholder= "Email utilisateur" id="register-email">
        <input type="password" class="password" placeholder="Mot de passe" id="register-password">
        <input type="password" class="verifpassword" placeholder="Vérification du Mot de passe" id="register-verifpassword">
        
       
            
            <button id="btn-register" class="register">S'inscrire</button>
            <p class="login-text">Vous avez déjà un compte ? <a href="#" class="login_link" >Se connecter</a></p>
    </div>
</div>