<div class="error-container">
    <div class="error-message">
        <p id="error-message">Une erreur est survenue</p>
    </div>
</div>

<div class="success-container">
    <div class="success-message">
        <p id="success-message">Opération réussie</p>
    </div>
</div>