<header>
    <nav class="navbar">
        <a href="#" class="logo">Noctua</a>
        <div class="nav-links">
            <ul>
                <li class="li_nav" >API Rest</li>
                <button class="">Français</button>

                <!-- <button class="btn_login">Connexion</button> -->
                <!-- <button class="btn_compte">Mon compte</button> -->
            </ul>
        </div>
    </nav>
</header>