<aside id="sidebar" class="sidebar has-bg-image">

    <a id="btn-collapse" class="sidebar-collapser">
      <i class="ri-arrow-left-s-line"></i>
    </a>

    <div class="sidebar-layout">
      <div class="sidebar-header">
        <div class="pro-sidebar-logo">
          <div class="sidebar-logo-box">
            <img src="../image/svgviewer-output.svg" alt="Noctua Logo" class="sidebar-logo-img">
          </div>
          <h5>Noctua</h5>
        </div>
      </div>

      <div class="sidebar-content">
        <nav class="menu open-current-submenu">
          <ul>


            <li class="menu-item sub-menu">
              <a href="/begin">
                <span class="menu-icon"><i class="ri-chat-ai-2-fill"></i></span>
                <span class="menu-title">Nouveau Chat</span>
              </a>
            </li>

            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon"><i class="ri-chat-search-line"></i></span>
                <span class="menu-title">Recherche</span>
              </a>
            </li>
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon"><i class="ri-webhook-line"></i></span>
                <span class="menu-title">API</span>
              </a>
            </li>
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon"><i class="ri-brain-ai-3-line"></i></span>
                <span class="menu-title">Models</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item"><a href="#">Llama</a></li>
                  <li class="menu-item"><a href="#">GPT</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>

      <div class="sidebar-content-discussion">
        <nav class="menu open-current-submenu">
          <ul id="discussions-list">
            <li class="menu-header"><span>DISCUSSIONS</span></li>
          </ul>
        </nav>
      </div>

      <div class="sidebar-footer">
        <div class="footer-box">
          <div class="user-menu-container">
            <button id="user-connection-btn" class="user-connection-btn">
              <span class="user-icon"><i class="ri-user-line"></i></span>
              <span class="user-text">Connectez-vous</span>
            </button>
            <div id="user-dropdown-menu" class="user-dropdown-menu">
              <a href="#" id="settings-btn" class="dropdown-item">
                <i class="ri-settings-3-line"></i>
                <span>Paramètres</span>
              </a>
              <a href="#" id="logout-btn" class="dropdown-item">
                <i class="ri-logout-box-line"></i>
                <span>Déconnexion</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>