<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="../js/begin.js"></script>
    <script src="../js/partial.js"></script>
    <script src="../js/utils.js"></script>
    <title>Chat</title>
</head>

<body>
    <%- include('partials/login') %>
    <%- include('partials/message') %>
    <%- include('partials/sidebar') %>

  <main class="begin-main">
    <div class="begin-content">
      <h1>Bienvenue sur Noctua-Beta</h1>
      <p>Commencez votre aventure avec notre IA dès maintenant.</p>
      <input type="text" id="user-input" class="begin-input" placeholder="Posez votre question..." />
      <button id="start-chat-btn" class="begin-btn">Commencer un Chat</button>
    </div>
    
  </main>
    
</body>

</html>