<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <title>Chat</title>
</head>

<body>
    <%- include('partials/login') %>
    <%- include('partials/message') %>
    <%- include('partials/settings') %>
    <%- include('partials/sidebar') %>

    <main class="chat-main">
        <div id="main-chat" class="main-chat">
            <div id="chat-container" class="chat-container">
                <!-- Messages inserées ici -->
            </div>
            <div class="chat-input-area">
                <input type="text" id="chat-input" placeholder="Tapez votre message..." />
                <button id="send-btn">Envoyer</button>
            </div>
        </div>
    </main>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/partial.js"></script>
    <script src="../js/chat.js"></script>
</body>

</html>